<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    
    
    <title>Employees</title>
</head>
<body>
    
    <div class="container">
        <div class="row mt-5">
            <h1>List of Departments</h1>
        </div>
        <div class="row mt-5">
            <table id="dt_departments" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Manager</th>
                        <th>Number of Employees</th>
                    </tr>
                </thead>
                <tbody>
                    {% for department in departments %}
                    <tr>
                        <td>{{department.name}}</td>
                        <td>{{department.location}}</td>
                        <td>{{department.manager}}</td>
                        <td>{{department.number_of_employees}}</td>
        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>


      <script>
        $(document).ready(
            function() 
            {
                $('#dt_departments').DataTable();
            } 
            );
        </script>
</body>
</html>